<!DOCTYPE html>
<html>
    <head>
        <title>HOME PAGE</title>
    </head>
    <body>
        <header>
            <h1><a href="/">RESTRAUNT REVIEWS</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Mike's Fish joint</a></h2>
            <p>New restraunt opened in town!</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Juja chickens</a></h2>
            <p>Heard they have descpicable food! Going to try it out.</p>
        </article>
    </body>
</html>